<?php

// PostgreSQL database for Journa-List
//define('OPTION_JL_DB_HOST', 'localhost' );
define('OPTION_JL_DB_PORT', '5433');
define('OPTION_JL_DB_NAME', 'mst');
define('OPTION_JL_DB_USER', 'mst');
//define('OPTION_JL_DB_PASS', '');
define('OPTION_JL_DB_PERSISTENT', false);
define('OPTION_PHP_MAINDB', 'JL');

// Default hostname and domain name for the website.
define('OPTION_WEB_HOST', 'www');
define('OPTION_WEB_DOMAIN', 'journa-list.dev');

// main support email address
define('OPTION_TEAM_EMAIL', 'team@' . OPTION_WEB_DOMAIN );

// Top-level URL of current website, without trailing /
define('OPTION_BASE_URL', 'http://' . OPTION_WEB_HOST . '.' . OPTION_WEB_DOMAIN);

// root dir on filesystem (use to run scripts), without trailing /
define('OPTION_JL_FSROOT', '/tmp/jl');
define('OPTION_JL_IMG_UPLOAD', OPTION_JL_FSROOT . '/web/img');

// location of xapian db (fulltext index)
define('OPTION_JL_XAPDB', '/tmp/jl-xapdb');

define('OPTION_JL_DISABLE_CACHE', '1');

// set to 1 to enable google analytics (see phplib/page.php)
define('OPTION_JL_GOOGLE_ANALYTICS_ENABLE', '0');

// no confirmation email for login - show link directly on the
// "we've sent you an email page" instead
define('OPTION_JL_BYPASS_LOGIN_EMAIL', '0');

// number of articles new journos need to add to activate their profile
define('OPTION_JL_JOURNO_ACTIVATION_THRESHOLD', '5');

?>
