<?php

// PostgreSQL database for Journa-List
//define('OPTION_JL_DB_HOST', 'localhost' );
define('OPTION_JL_DB_PORT', '5433');
define('OPTION_JL_DB_NAME', 'mst');
define('OPTION_JL_DB_USER', 'mst');
//define('OPTION_JL_DB_PASS', '');
define('OPTION_JL_DB_PERSISTENT', false);
define('OPTION_PHP_MAINDB', 'JL');

// Default hostname and domain name for the website.
define('OPTION_WEB_HOST', 'www');
define('OPTION_WEB_DOMAIN', 'journa-list.dev');

// main support email address
define('OPTION_TEAM_EMAIL', 'team@' . OPTION_WEB_DOMAIN );

// Top-level URL of current website, without trailing /
define('OPTION_BASE_URL', 'http://' . OPTION_WEB_HOST . '.' . OPTION_WEB_DOMAIN);

// root dir on filesystem (use to run scripts), without trailing /
define('OPTION_JL_FSROOT', '/home/ben/proj/journa-list/jl');

define('OPTION_JL_DISABLE_CACHE', '1');
?>
