.bio_approved { background-color: #CCFFCC }
.bio_unapproved { background-color: #FFCCCC }

.approved { background-color: #CCFFCC }
.unapproved { background-color: #FFCCCC }

.status_green { background-color: #CCFFCC }
.status_red { background-color: #FFCCCC }

.action_summary {
    border: thin dashed blue;
    background-color: silver;
    font-weight: bold;
    font-size: larger;
    padding: 0.5em;
    margin: 0.5em;
}

.action_error {
    border: thin dashed red;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
    font-size: larger;
    color: red;
}


.widget-container {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #cccccc;
}

blockquote {
    border: 1px dashed #cccccc;
    background-color: #eeeeee;
    padding: 0.5em;
}

/* toolbar for news editing */
.news-toolbar {
    padding: 0.2em 0.5em;
    margin-top: 0.5em;
    background-color: #cccccc;
}
#content {
    width: 100%;
}
.news-toolbar a {
    border: 1px solid #888888;
    text-decoration: none;
    padding: 0.1em;
}
