/* css base for http://covertprestige.info/css/base/ */
body { font-size: smaller; line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif; }
article, aside, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.25;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
ul, ol {margin: 1em 0; padding-left: 40px;}
p {margin: 1em 0;}
a img {border: none;}
sup, sub {line-height: 0;}




.bio_approved { background-color: #CCFFCC }
.bio_unapproved { background-color: #FFCCCC }

.approved { background-color: #CCFFCC }
.unapproved { background-color: #FFCCCC }

.status_green { background-color: #CCFFCC }
.status_red { background-color: #FFCCCC }

.action_summary {
    border: thin dashed blue;
    background-color: silver;
    font-weight: bold;
    font-size: larger;
    padding: 0.5em;
    margin: 0.5em;
}

.action_error {
    border: thin dashed red;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
    font-size: larger;
    color: red;
}


.widget-container {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #cccccc;
}

blockquote {
    border: 1px dashed #cccccc;
    background-color: #eeeeee;
    padding: 0.5em;
}

/* toolbar for news editing */
.news-toolbar {
    padding: 0.2em 0.5em;
    margin-top: 0.5em;
    background-color: #cccccc;
}
#content {
    width: 100%;
}
.news-toolbar a {
    border: 1px solid #888888;
    text-decoration: none;
    padding: 0.1em;
}

tbody tr:nth-child(odd) {
  background-color: #ddddff;
}

/* paginator */
.paginator a {
    border: 1px solid #ccc;
    padding: 2px 6px;
    text-decoration: none;
}

.paginator a:hover {
    background-color: #ccc;
}

.paginator span.this-page { border: 1px solid black; background-color: #eee; padding: 2px 6px; }

