.bio_approved { background-color: #CCFFCC }
.bio_unapproved { background-color: #FFCCCC }

.approved { background-color: #CCFFCC }
.unapproved { background-color: #FFCCCC }

.status_green { background-color: #CCFFCC }
.status_red { background-color: #FFCCCC }

.action_summary {
    border: thin dashed blue;
    background-color: silver;
    padding: 1em; }

.widget-container {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #cccccc;
}

blockquote {
    border: 1px dashed #cccccc;
    background-color: #eeeeee;
    padding: 0.5em;
}

