/* css base for http://covertprestige.info/css/base/ */
body { font-size: 90%; line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif; }
article, aside, figcaption, figure, footer, header, hgroup, nav, section {display: block;}
h1, h2, h3, h4 {margin: 1em 0 .5em; line-height: 1.25;}
h1 {font-size: 2em;}
h2 {font-size: 1.5em;}
h3 {font-size: 1.2em;}
ul, ol {margin: 1em 0; padding-left: 40px;}
p {margin: 1em 0;}
a img {border: none;}
sup, sub {line-height: 0;}

td, th {
    border-bottom: 1px solid #eee;
    vertical-align: top;
}


form { padding: 0.2em; background-color: #eec; }
input[type="text"] { width: 40em; }

.bio_approved { background-color: #CCFFCC }
.bio_unapproved { background-color: #FFCCCC }

.approved { background-color: #CCFFCC }
.unapproved { background-color: #FFCCCC }

.status_green { background-color: #CCFFCC }
.status_red { background-color: #FFCCCC }

.action_summary {
    border: thin dashed blue;
    background-color: silver;
    font-weight: bold;
    font-size: larger;
    padding: 0.5em;
    margin: 0.5em;
}

.action_error {
    border: thin dashed red;
    padding: 0.5em;
    margin: 0.5em;
    font-weight: bold;
    font-size: larger;
    color: red;
}


.widget-container {
    margin: 0.5em;
    padding: 0.5em;
    border: 1px solid #cccccc;
}

blockquote {
    border: 1px dashed #cccccc;
    background-color: #eeeeee;
    padding: 0.5em;
}

/* toolbar for news editing */
.news-toolbar {
    padding: 0.2em 0.5em;
    margin-top: 0.5em;
    background-color: #cccccc;
}
#content {
    width: 100%;
}
.news-toolbar a {
    border: 1px solid #888888;
    text-decoration: none;
    padding: 0.1em;
}

table.results tbody tr:nth-child(odd) {
  background-color: #ddddff;
}

/* paginator */
.paginator a {
    border: 1px solid #ccc;
    padding: 2px 6px;
    text-decoration: none;
}

.paginator a:hover {
    background-color: #ccc;
}

.paginator span.this-page { border: 1px solid black; background-color: #eee; padding: 2px 6px; }


pre code {
    display: block;
    background-color: #cc8;
    border: 1px solid #ccc;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;

    } 

/* drongo-forms */

.helptext {
    font-size: smaller;
    color: #999;
}

/*
.errornote {
    font-size: 12px !important;
    display: block;
    padding: 4px 5px 4px 25px;
    margin: 0 0 3px 0;
    border: 1px solid red;
    color: red;
    background: #ffc url(../img/admin/icon_error.gif) 5px .3em no-repeat;
}
*/


ul.errorlist {
    display: block;
/*    border: 1px solid red; */
    background: #faa;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.errorlist li {
    padding: 0.2em;
    margin: 0;
    color: #c00;
    font-weight:bold;
}

.errors {
    background: #faa;
}

.errors input, .errors select {
    border: 1px solid red;
}


/* css buttons from: http://www.red-team-design.com/just-another-awesome-css3-buttons */
.button
{
        display: inline-block;
        white-space: nowrap;
        background-color: #ccc;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#ccc));
        background-image: -webkit-linear-gradient(top, #eee, #ccc);
        background-image: -moz-linear-gradient(top, #eee, #ccc);
        background-image: -ms-linear-gradient(top, #eee, #ccc);
        background-image: -o-linear-gradient(top, #eee, #ccc);
        background-image: linear-gradient(top, #eee, #ccc);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eeeeee', EndColorStr='#cccccc');
        border: 1px solid #777;
        padding: 0 1em;
        margin: 0.5em;
/*        font: bold 1em/2em Arial, Helvetica; */
        text-decoration: none;
        color: #333;
        text-shadow: 0 1px 0 rgba(255,255,255,.8);
        -moz-border-radius: .2em;
        -webkit-border-radius: .2em;
        border-radius: .2em;
        -moz-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 .05em 0 rgba(0,0,0,.3);
        -webkit-box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 .05em rgba(0,0,0,.3);
        box-shadow: 0 0 1px 1px rgba(255,255,255,.8) inset, 0 .05em 0 rgba(0,0,0,.3);
}

.button:hover
{
        background-color: #ddd;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#fafafa), to(#ddd));
        background-image: -webkit-linear-gradient(top, #fafafa, #ddd);
        background-image: -moz-linear-gradient(top, #fafafa, #ddd);
        background-image: -ms-linear-gradient(top, #fafafa, #ddd);
        background-image: -o-linear-gradient(top, #fafafa, #ddd);
        background-image: linear-gradient(top, #fafafa, #ddd);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#fafafa', EndColorStr='#dddddd');
}

.button:active
{
        -moz-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        -webkit-box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        box-shadow: 0 0 4px 2px rgba(0,0,0,.3) inset;
        position: relative;
        top: .05em;
}

.button:focus
{
        outline: 0;
        background: #fafafa;
}    

.button:before
{
        background: #ccc;
        background: rgba(0,0,0,.1);
        float: left;
        width: 1em;
        text-align: center;
/*        font-size: 1.5em; */
        margin: 0 1em 0 -1em;
        padding: 0 .2em;
        -moz-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -webkit-box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        box-shadow: 1px 0 0 rgba(0,0,0,.5), 2px 0 0 rgba(255,255,255,.5);
        -moz-border-radius: .15em 0 0 .15em;
        -webkit-border-radius: .15em 0 0 .15em;
        border-radius: .15em 0 0 .15em;
}
/* Hexadecimal entities for the icons */
.button.add:before { content: "\271A"; } 
.button.edit:before { content: "\270E"; } 
.button.delete:before { content: "\2718"; } 
.button.save:before { content: "\2714"; } 
.button.email:before { content: "\2709"; } 
.button.like:before { content: "\2764"; } 
.button.next:before { content: "\279C"; } 
.button.star:before { content: "\2605"; }
.button.spark:before { content: "\2737"; }
.button.play:before { content: "\25B6"; }

/* popup tooltip */
.tooltip {
  -moz-box-shadow: 5px 5px 5px #888888;
  -webkit-box-shadow: 5px 5px 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  padding: 4px;
  border: 1px solid #444444;
  background-color: #ffff88;
}


