/* Backgrounds and colours */
body {
  background-color:#DDDDDD;
/*  font-size: smaller; */
}

#content {
  background-color:#FFFFFF;
}

#head {
  background-color:#ED1C24;
}

.boxnarrow {
  background-color:#E3E3E3;
}

#content form label {
  color:#CC0E0E;
}

#content #contenthead {
  background-color:#F4F4F4;
}

#head h1 a span {
  background-image:url('img/title.png');
  background-position:top right;
}

#head a { color: #FFFFFF; }

/*
#menu ul {
  background-image:url('img/barcode.png');
  background-repeat:no-repeat;
  background-position:center left;
}
*/

.boxnarrow h2 {
  background-color:#7F0BAF;
}


.boxnarrow h3 {
  background-color:#7F0BAF;
}


.boxwide h2 {
  background-color:#999999;
}

.boxwide h3 {
  background-color:#999999;
}


/* Positions, margin and padding */
body {
  margin:0 auto 0 auto;
  padding:0;
}

body, #menu, #head {
  width:750px;
}

#head {
  float:left;
/*  width:100%; */
/*  margin-top:117px;
  height:106px;
*/
}

#head h1 {
  margin:0;
  padding:0;
}

#hellouser {
  float:left;
  padding-top: .1em;
  padding-bottom: .1em;
  overflow: auto;
  width:100%;
  text-align: right;
  font-size: small;
  background-color: #FFFFFF;
}

#menu {
  float:left;
  padding: 0;
  margin: 0;
/*
  margin:-226px auto 0 auto;
  height:117px;
*/
/*  height: 90px; */
  overflow:auto;
  width:100%;

  background-image:url('img/barcode.png');
  background-repeat:no-repeat;
  background-position:center left;
  background-color: #FFFFFF;
}

#menu ul {
  padding:0 0 0 90px;
  margin:0px 15px;

/*  margin 0;
  padding 0;
*/
}

#menu ul li {
  width:140px;
  list-style-type:none;
  display:inline;
  float:left;
  padding: 4px;
  margin: 0;
}

#menu ul li { background-color: #FFFFFF; }

/*#menu ul li:hover { background-color:#ED1C24; }*/

#menu ul li a { color: #FFFFFF; }


#head h1, #head h2 {
  float:right;
  clear:both;
  margin:0;
  padding:0;
}

#head p {
  padding:.4em;
  margin:0;
}



#head h1 {
  width:289px;
  overflow:hidden;
  height:73px;
  margin: 0px 0px 0 0;
}
#head h1 a span {
  margin-bottom:-0px;
  width:289px;
  height:73px;
  display:block;
  position: relative;
  z-index: 1;
}

#head h2 {
  padding:0 30px 0 0; 
}

#content {
  padding:10px 5px;
  clear:both;
  width:740px;
  overflow:auto;
  border-bottom:1px solid #ECECEC;
}

#content #contenthead {
  clear:both;
  overflow:auto;
  width:100%;
  margin:0 0 10px 0;
}
#content #contenthead img {
  float:left;
}

#contenthead form {
  float:right;
  width:48%;
}

#contenthead form label {
  padding:5px 0px;
  display:block;
}

/* used for input elements on front page */
.inputhack {
  width: 260px;
}

#maincolumn {
  float:left;
  width:75%;
}

.boxwide h2,h3 {
  margin:0;
  height:2em;
}

#smallcolumn {
  margin:0 0 0 10px;
  float:right;
  width:22%;
}

.boxnarrow h2,h3 {
  padding:.1em;
/*  margin:0;
  height:2em;*/
}

.boxnarrow ul {
	padding-left: 20px;
}


/* kludge to stop findarticles input element overrunning boxnarrow and forcing a scrollbar */
.boxnarrow form input#findarticles {
	width: 80%;
}

#footer {
  clear:both;
  background-color:#FFFFFF;
  color: #888888;
  padding: .5em;
}


/* text styles */

body {
  font-family: sans-serif;
}

#head {
  color:#FFFFFF;
}




#menu ul li.cover a {
  color:#009900;
}

#menu ul li.all a {
  color:#FF00FF;
}

#menu ul li.subject a {
  color:#6666FF;
}

#menu ul li.my a {
  color:#7F0BAF;
}



#head h2 {
  font-size:0.9em;
}

.boxwide h2 { font-size:1.3em; }
.boxnarrow h2 { font-size:1em; }

.boxwide h3 { font-size:1em; }
.boxnarrow h3 { font-size:1em; }

