/* BASIC STYLES */

h1,h2,h3,h4,h5,h6 {
  margin: 0; padding: 0;
  font-weight: normal;
  font-size: 100%;
  color: #1a1a1a;
}


h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 112%; }

body {
  margin: 0 auto;
  padding: 0;
/*  width: 995px; */
  background-color: #ebebeb;
  font-size: 13px;
  line-height: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}


a { color: #cc0000; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #ee3333; }

a.extlink { 
  padding-right: 19px;
  background: transparent url('/img/icon_extlink.png') no-repeat center right;
}

ul {
  margin: 0px;
  padding: 0px 0px 0px 16px;
  list-style: url( "/img/bullet.png") disc outside;
}


/* lists of articles */
ul.art-list {
  padding: 0;
  list-style: none;
}

ul.art-list li {
  border-bottom: 1px solid #cccccc;
  padding: 4px 0 16px 0;
}

abbr.published { text-decoration: none; border: none; }

/* lists of biographical items */
ul.bio-list { padding: 0; list-style: none; }
ul.bio-list li {
  padding: 8px 0px;
  border-bottom: 1px solid #cccccc;
  list-style: none;
}



/* fancify edit links */
a.edit {
  padding-left: 15px;
  margin-left: 4px;
/*  background: #ffee88 url('/img/icon_pencil.png') no-repeat center left; */
}

/* fancify "add" links */
a.add {
  padding-left: 15px;
  margin-left: 4px;
  background: url('/img/icon_plus.png') no-repeat center left;
}

/* fancify "remove" links */
a.remove {
  padding-left: 15px;
  margin-left: 4px;
  background: url('/img/icon_redx.png') no-repeat center left;
}


/* show some edit links as buttons */
.foot a.edit,
.head a.edit,
.overview .photo a.edit {
  margin: 0px;
  padding: 0px 0px 0px 26px;
  display: inline-block;
  height: 21px;
  width: 38px;
  background: url("/img/buttons.png") no-repeat -82px 0px;
  overflow: hidden;
  color: #1a1a1a;
  line-height: 21px;
}

.foot a.edit:hover,
.head a.edit:hover,
.overview .photo a.edit:hover {
  background-position: -82px -22px; text-decoration: none;
}

.foot a.edit:focus,
.head a.edit:focus,
.overview .photo a.edit:focus {
  background-position: -82px -44px;
}



.bio h4 { color: #222222; font-size: 110% }
.bio .jobtitle { color: #222222; font-size: 110% }
.bio .publication { color: #222222; font-size: 110% }
.bio .daterange { color: #555555; }

.not-known { font-style: italic; color: #888888; }

/* default form styling */

form {
/*  border: none; */
/*  border-bottom: 1px solid #d9d9d9; */
  padding: 8px 0px;
  clear: both;
}

form.modified {
  background-color: #deebf6;
}

form dt label,
form dt .faux-label {
  width: 130px;
  height: 20px;
  line-height: 20px;
  color: #4d4d4d;
  font-weight: bold;
}


.sidebar div.field label {
  width: 100px;
}


form fieldset.field { border: none; padding: 0px; margin: 0px; }
form fieldset.field input { margin-right: 4px; }

form input[type="text"] {
  width: 300px;
  height: 18px;
  border: 1px solid #d9d9d9;
}

form input[type="password"] {
  width: 150px;
  height: 18px;
  border: 1px solid #d9d9d9;
}


form input[type="text"].year { width: 4em; }

form textarea { border: 1px solid #d9d9d9; }
form textarea[name="address"] { width: 300px; }

form div.field { margin: 8px 0px; }

form .submit {
  margin: 6px 0px 6px 130px;
}

form .explain {
  font-size: 80%;
  color: #888888;
}

form .remove {
  float: right;
}

.errhint { font-weight: bold; color: red; display: block; }

form dt {
  float: left;
  width: 130px;
  clear: both;
  text-align: right;
  padding-right: 8px;
}


form dd {
  position: relative;
  margin: 8px 0px;
}

form dd a.remove {
  position: absolute;
  right: 0px;
  bottom: 0px;
}

form dl {
  padding-bottom: 8px;
  border-bottom: 1px solid black;
  border-bottom: 1px solid #d9d9d9;
}



/* HEADER */

#header {
  margin: 0;
  padding: 0;
  height: 104px;
  background: url("/img/header_bg.png") repeat-x;
}

#header .inner {
  position: relative;
  width: 995px;
  height:100%;
  margin: 0px auto;
}


#header h1 {
  position: absolute;
  bottom: 14px;
  left: 32px;
  width: 228px;
  height: 59px;
}

#header h1 a img {
  border: 0;
}

#header a.mst-logo {
  position: absolute;
  right: 10px;
  top: 8px;
}
#header a.mst-logo img { border: none; }

/* header nav bar */

#header .nav {
  position: absolute;   /* within header */
  top: 8px;
  right: 120px;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

#header .nav .hellouser {
  font-weight: bold;
}

#header .nav ul {
  margin: 0;
  padding: 0;
  display:inline;
}

#header .nav ul li {
  list-style-type:none;
  display:inline;
  margin: 0;
  padding: 0;
}

#header .nav a { 
  color: #FFFFFF; 
  padding: 8px 0px 8px 8px;

}


/* */

#header .search {
  position: absolute;
  bottom: 12px;
  right: 8px;
}

#header .search form {
  padding: 0;
  margin: 0;
  border: none;
}

#header .search form select {
  float: left;
  margin: 0px 4px 0px 0px;
  height: 28px;
/*  border: 1px solid #888888;
  background: #ffffff;
  color: #888888;
*/
}

#header .search form input#q {
  padding: 6px 4px 6px 32px;
  margin: 0px;
  width: 184px;  /* = 220-32-4 */
  height: 16px; /* = 28-6-6 */
  background: url("/img/searchbox.png") no-repeat;
  overflow: hidden;
  border: none;
  float: left;
}

#header .search form input#q:focus {
}

#header .search form input[type="submit"] {
  margin: 0px;
  width: 81px;
  height: 28px;
  background: url("/img/buttons.png") no-repeat;
  overflow: hidden;
  border: none;
/*  float: left;*/
}

#header .search form input[type="submit"]:hover {
  background-position: 0px -28px;
}


#header .search form input[type="submit"]:active {
  background-position: 0px -56px;
/*  padding-top: 1px; */
}

#header .search form input[type="submit"]::-moz-focus-inner {
  border: 0;
}


/* jquery-stylish-select plugin - used for the search type dropdown in header */
.stylish-select ul.newList {left:-9999px;}  /* hide while loading page */

ul.newList * {margin:0; padding:0;}
ul.newList a {color: #666; text-decoration:none; display:block;}
ul.newList {margin:0; padding:0; list-style:none; color:#666; width:160px; background:#fff; position:absolute;  border:1px solid #ccc; top:22px; left:0; overflow:auto; z-index:9999;}

.newListSelected {
    margin-right: 4px;
    width:155px; color:#666; height:22px; padding:3px 0 0 6px; float:left;
    background: #ffffff url('/img/dropdown.png') no-repeat center right;
    border: 1px solid #888888;
}

.newListSelected span {width:154px; display:block;}
ul.newList li a {padding:3px 8px; display: block;}
ul.newList li a:focus {-moz-outline-style: none;}
/*.selectedTxt {width:258px; overflow:hidden; height:16px; padding:0 23px 0 0;} */
/*
.hiLite {background:#650101!important; color:#fff!important;}
.hiLite a {background:#650101!important; color:#fff!important;}
*/
.newListHover {background:#ccc!important; color:#000!important; cursor:default;}
/*.newListSelHover, .newListSelFocus {background-position:0 -22px; cursor:default;} */
.newListOptionTitle {font-weight:bold;}
.newListOptionTitle ul {margin:3px 0 0;}
.newListOptionTitle li {font-weight:normal; border-left:1px solid #ccc;}



/* FOOTER */

#footer {
  margin: 0px auto;
  padding: 0px 10px;
  width: 955px; /* =995-10-10-10-10 */
  clear: both;
  border-top: 1px solid #c4c4c4;
  font-size: 90%;
}

#footer .nav {
  float: right;
  padding: 0;
  margin: 0;
  color: #747474; 
}

#footer .nav ul {
  margin: 0;
  padding: 0;
}

#footer .nav ul li {
  list-style-type: none;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

#footer .nav li:before { padding: 0 4px; content: "|";}
#footer .nav li:first-child:before {content: "";}  

#footer a { 
  color: #747474; 
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}

/* DATELINE (login indicator) */
#dateline {
  margin: 0px auto;
  width: 975px;
}

/* CONTENT */

#content {
  position: relative;
  padding: 12px 10px;
  margin: 0px auto;
  width: 975px;
}


/* default style for main (leaves room for sidebar) */
.main
{
  float: left;
  width: 628px; /* 995 = 10 + 16+628+16 + 15 + 300+10 */
  background: white;
  margin: 0;
  padding: 8px 16px 16px 16px;

  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}


.main h2,
.main h3
{
  border-bottom: 1px solid #252525;
  padding: 16px 0px 4px 0px;
}

.main h2
{
  margin-bottom: 16px;
}


/* tabs (TODO: use more semantic name... another "nav" group maybe?) */

.tabs { clear: both; }

.main .tabs ul {
  list-style: none;
  border: 0px;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 8px;
}

.main .tabs ul li {
  display: inline;
}

.main .tabs a {
  float: left;
/*  display: inline;*/
  padding: 4px 20px;
  margin-right: 4px;

  background: #b30c0c url("/img/tab_bg.png") repeat-x;
  text-decoration: none;
  font-size: 115%;
  color: #ffffff;

  border: 1px solid #b30c0c;
  border-bottom: none;

  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
}

.main .tabs li.current a {
  margin-bottom: -1px;
  background: #ffffff;
  border: 1px solid #888888;
  border-bottom: 1px solid #ffffff;
  color: #1a1a1a;
}

.main .tabs a:hover,
.main .tabs a:focus {
  background: #ef1313 url("/img/tab_bg_light.png") repeat-x;
  color: #ffffff;
  outline: 0;
}

.main .tab-content
{
  clear: both;
  border: 1px solid #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background: white;
  margin: 0;
  padding: 8px 16px;
}


/* sidebar */

.sidebar {
  float: right;
  width: 300px;
  margin: 0;
  padding: 0;
}

.sidebar h2 { font-size: 150%; }
.sidebar h3 { font-size: 125%; }
.sidebar h4 { font-size: 112%; }

.sidebar a.extlink { 
  padding-right: 15px;
  background: transparent url('/img/icon_extlink_small.png') no-repeat center right;
}

/* default box style */
.box
{
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background: white;
  margin: 0 0 16px 0;
  padding: 0px;
}

.box .head
{
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;

  background: #ebebeb url( "/img/box_head_bg.png" ) repeat-x top;
  border-bottom: 1px solid #d9d9d9;
}
 
.box .head h2,
.box .head h3,
.box .head h4
{
  padding: 8px 16px;
  border: none;
}

.box .body
{
  padding: 8px 16px;
}


/* PAGE-SPECIFIC STUFF (everything below here is page-specific) */

/* FRONT PAGE (no sidebar): */

.main.front-page {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;

  background: none;
  margin: 0;
  padding: 0;
  width: 975px; /* 995 = 10 + 975 +10 */
}

.recently-viewed, .recently-updated, .most-blogged {
  float: left;
  width: 314px;   /* = 975 = n + 16 + n + 16 + n */
  min-height: 150px;
}
.recently-updated { margin: 0 16px; }



.box.front {
  width: 971px;
  height: 277px;
  background: url("/img/home-az.png") no-repeat top left;
  position: relative;
}

.box.front span.brag {
  position: absolute;
  top: 10px;
  left: 25px;
}

.box.front span.youcan{ 
  position: absolute;
  top: 40px;
  left: 25px;
  font-size: 210%;
  color: #004a80;
}

.box.front ul.nav {
  padding: 0px;
  margin: 0px;
  list-style: none;
}

.box.front li {
  position: relative;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.box.front .nav a {
   position: absolute;
   background: url("/img/post-it.png") no-repeat top left;
   width: 140px;
   height: 139px;
   text-indent: -100em;
   overflow: hidden;
}
.box.front .nav a { outline: none; }

.box.front .nav a.articles { left: 340px; top: 11px; background-position: 0 -189px; }
.box.front .nav a.articles:hover { background-position: 0 0; }
.box.front .nav a.link { left: 125px; top: 125px; background-position: 0 -568px; } 
.box.front .nav a.link:hover { background-position: 0 -378px; } 
.box.front .nav a.rate { left: 510px; top: 127px; background-position: 0 -953px; } 
.box.front .nav a.rate:hover { background-position: 0 -758px; } 
.box.front .nav a.search { left: 680px; top: 30px; background-position: 0 -1336px; } 
.box.front .nav a.search:hover { background-position: 0 -1148px; } 
.box.front .nav a.subjects { left: 815px; top: 120px;  background-position: 0 -1712px; } 
.box.front .nav a.subjects:hover { background-position: 0 -1524px; } 


/* JOURNO PAGE */

.journo-profile {
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background-color: #f7dbdb;
}



/* search forms for journo page and search results page */
.journo-profile .search form {
  padding: 5px;
  margin: 0px;
  background-color: #eeeeee;
  border: none;
  border-bottom: 1px solid #d9d9d9;
}

.search-results .search form {
  padding: 32px 64px;
  margin: 0px;
  background-color: #d9d9d9;
  border: none;
  border-top: 1px solid #cacaca;
}

.journo-profile .search form label { display: none; }

.search-results .search form select,
.journo-profile .search form select {
  float: left;
  margin: 0px 4px 0px 0px;
  height: 28px;
/*  border: 1px solid #888888;
  background: #ffffff;
  color: #888888;
*/
}

.search-results .search form input#q2,
.journo-profile .search form input#findarticles {
  padding: 7px 4px 0px 25px;
  margin: 0px;
  width: 160px;  /* = 189-25-4 */
  height: 18px; /* = 25-7-0 */
  background: url("/img/searchbox_small.png") no-repeat;
  overflow: hidden;
  border: none;
  float: left;
  font-size: 90%;
  color: #222222;
}

.journo-profile .search form input#findarticles.placeholder {
  color: #888888;
}


.search-results .search form input[type="submit"],
.journo-profile .search form input[type="submit"] {
  margin: 0px;
  width: 73px;
  height: 25px;
  background: url("/img/buttons.png") no-repeat 0px -90px;
  overflow: hidden;
  border: none;
/*  float: left;*/
}

.search-results .search form input[type="submit"]:hover,
.journo-profile .search form input[type="submit"]:hover {
  background-position: 0px -116px;
}


.search-results .search form input[type="submit"]:active,
.journo-profile .search form input[type="submit"]:active {
  background-position: 0px -142px;
}

.search-results .search form input[type="submit"]::-moz-focus-inner,
.journo-profile .search form input[type="submit"]::-moz-focus-inner {
  border: 0;
}



/* some non-default journo page boxes */
.box.you-can-also .head
{
  background: #7f2284 url( "/img/box_head_bg_purple.png" ) repeat-x top;
  border-bottom: 1px solid #630460;
}

.box.you-can-also .head h2,
.box.you-can-also .head h3,
.box.you-can-also .head h4
{ color: #ffffff; }

.box.you-can-also {
  background-color: #f1e3f1;
}

.box.you-can-also ul { padding: 0px; list-style: none; }

.box.you-can-also ul li {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 7px 0px 8px 20px;
/*  height: 16px; */
  border-top: 1px solid #cccccc;
}

.box.you-can-also ul li:first-child {
  border-top: none;
}

.box.you-can-also li.add-alert { background-image: url( "/img/icon_newspaper.png"); }
.box.you-can-also li.print-page { background-image: url( "/img/icon_printer.png"); }
.box.you-can-also li.forward-profile { background-image: url( "/img/icon_rightarrow.png"); }
.box.you-can-also li.claim-profile { background-image: url( "/img/icon_person.png"); }

.box.subscribe-newsletter {
  background-color: #e7f3e3;
}
.box.subscribe-newsletter .head
{
  background: #49a02b url( "/img/box_head_bg_green.png" ) repeat-x top;
  border-bottom: 1px solid #408e26;
}

.box.subscribe-newsletter .head h2,
.box.subscribe-newsletter .head h3,
.box.subscribe-newsletter .head h4
{ color: #ffffff; }


.box.admired-journos {
  background-color: #deebf6;
}
.box.admired-journos .head
{
  background: #005294 url( "/img/box_head_bg_blue.png" ) repeat-x top;
  border-bottom: 1px solid #004073;
}

.box.admired-journos .head h2,
.box.admired-journos .head h3,
.box.admired-journos .head h4
{ color: #ffffff; }

/* overview section on journo page */

.overview {
  padding: 0px 8px 0 8px;
}

.overview .photo {
  float: left;
}

.overview .photo a.edit {
  margin-top: 8px;
}

.photo img {
  -moz-box-shadow: 3px 3px 5px #888888;
  -webkit-box-shadow: 3px 3px 5px #888888;
  display: block;
}

.overview .fudge {
  float: left;
  width: 362px; /* =440-88 */
  padding-left: 88px;
  margin-left: 20px;
}

.overview .section {
  margin-bottom: 4px;
}

.overview .section h4 {
  float: left;
  border: none;
  width: 88px;
  height: 16px;
  margin-left: -88px;

  font-size: 100%;
  font-weight: bold;
  color: #555555;

}

.overview .section ul {
  list-style: square;
/*  margin-left: 70px; */
}


/* bio tab on journo page */

/* position the "edit" links */
.bio .head,
.contact .head
 { position: relative; }

.bio .head a.edit,
.contact .head a.edit
 {
  position: absolute;
  top: 10px;
  right: 0px;
}



a.donate {
  margin: 0px 0px 16px 0px;
  padding: 0px;
  width: 300px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: #ffffff;
  display: block;
  background: url("/img/bigredbutton.png") no-repeat 0px 0px;
  font-size: 125%;
}

a.donate:hover {
  background: url("/img/bigredbutton.png") no-repeat 0px -42px;
  text-decoration: none;
}

a.donate:focus {
  background: url("/img/bigredbutton.png") no-repeat 0px -84px;
  text-decoration: none;
}

/* position edit buttons in sidebar boxes */
.sidebar .foot { position: relative; height: 29px; }

.sidebar .foot a.edit,
.sidebar .foot .box-action {
  position: absolute;
  right: 8px;
  bottom: 8px;
}




/* SEARCH PAGE */

/* TODO: this should be default for .main (ie move padding from .main to .main>.body) */
.main.search-results { padding: 0px; }
.main.search-results>.body { padding: 8px 16px 16px 16px; }

.search-results>.head,
.box .pager {
  padding: 8px 16px;
  margin: 0px;
  height: 20px;   /* =34-8-8 */
  line-height: 20px;
  background-color: #eeeeee;
}
.search-results>.head {  border-bottom: 1px solid #dddddd; }
.box .pager {  border-top: 1px solid #dddddd; }

.search-results .count,
.search-results .query
{ font-weight: bold; color: #2352a1; }

.search-results ul { list-style: none; padding: 0; }

.pager .page-links { float:right; }


/* PROFILE-EDITING PAGES */
.croptool form {
  width: 130px;
  float: right;
  border: none;
}
.croptool form .preview {
  margin: 8px 0px;
}

.croptool .fullsize {
  width: 400px;
}

/* ARTICLE PAGE */

.cutting {
  margin: 0px;
  padding: 7px 36px 38px 32px;
  width: 593px; /* = 661 -36-32 */
  height: 189px;  /* = 231 -14-38 */
  background: url("/img/cutting.png") no-repeat;

  font-family: Times,serif;
  color: #111111;
}


.cutting h2 {
  border: none;
  border-top: 1px solid #111111;
  font-size: 25px;
  line-height: 25px;
}

.article-summary .art-info { padding: 16px; }

.main.article-summary {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;

  background: none;
  margin: 0;
  padding: 0;
}


.register-now { border-top: 1px solid #cccccc; margin-top: 8px; }
.register-now .get-in-touch { font-size: 150%; }

