body {
background-color: #fff;
color: #333;
font-family: Verdana, Arial, Sans-Serif;
}

#container
{
margin: 2em;
padding: 0;
background-color: #fff;
color: #333;
font-family: Verdana, Arial, Sans-Serif;
line-height: 130%;
}

/*****************************************/
#top
{
padding: 1em;
background-color: #ddd;
border: 1px solid gray;
}

#top h1
{
padding: 0;
margin: 0;
}


#hellouser
{
	font-size: 0.8em;
	padding: 0.2em;
	border: 1px dashed gray;
	float: right;
}

/*****************************************/

#content
{
	margin: 0;
	padding: 1em .5em .5em .5em;
}

/*****************************************/

#sidepane
{
float: left;
width: 23%;
margin: 0;
padding: 0;
/* background-color: #ddd; */
/* border: 1px solid green; */
}


/*****************************************/

#mainpane
{
/*margin-right: 200px;*/
/*max-width: 36em;*/
float: left;
margin: 0;
padding: 0;
width: 75%;
/* border: 1px solid red; */
}

#content h2 { margin: 0 0 .5em 0; }



/*****************************************/
#footer
{
clear: both;
margin: 0;
padding: .5em;
color: #333;
background-color: #ddd;
border: 1px solid gray;
}


/*****************************************/

ul.hnav
{
	margin: 0;
	padding: 1em;
	list-style-type: none;
}


ul.hnav li {
	padding-right: 1em;
	display: inline;
}

.hnav a {
}



/*****************************************/


.block {
  margin: .2em .2em .8em .2em;
  padding: 0;
  color: black;
  background-color: #eee;	/*white;*/
  border: 1px solid #ddd;
}

.block h2 {
  margin: 0;
  background-color: #ddd;
  color: black;
  font-size: 1.2em;
}

.block h3 {
  margin: 0;
  background-color: #ddd;
  color: black;
  font-size: 0.9em;
}


/* For example, to tell people to check their email */
.loudmessage {
    font-size: 150%; 
    font-weight: bold; 
    text-align: center;
}
.loudmessage strong {
    font-size: 125%;
    font-weight: bolder; 
}

/* forms */

input.error, input[type=text].error, select.error, input[type=radio].error {
    border: solid 2px #990000;
    background-color: #ffcccc;
}

#errors {
    color: #ff0000;
    background-color: #ffcccc;
    border: solid 2px #990000;
    padding: 3px;
}


