/*
 * GENERAL STYLING
 */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
/*    font-size: 80%; */
}

h1,h2,h3,h4,h5 { font-family: Times,serif; }

/* internal links */
a { color: #0000FF; }
a:link {text-decoration: none; }
a:visited {text-decoration: none; color: #4444FF }
a:active {text-decoration: none; }
a:hover {text-decoration: underline; }


/* external links */
a.extlink  /* a[href ^='http://'] */ { 
    padding-right: 12px;
    background: transparent url(images/external_icon.png) no-repeat center right;
    color: #660099;
}
a.extlink:link {text-decoration: none; }
a.extlink:visited {text-decoration: none; color: #9944CC; }
a.extlink:active {text-decoration: none; }
a.extlink:hover {text-decoration: underline; }

/* tag links */
/*
.tags a { color: #666666; }
.tags a:visited {text-decoration: none; color: #AAAAAA }
*/
.tags a { color: #6666FF; }
.tags a:visited {text-decoration: none; color: #8888FF }
.tags a:link {text-decoration: none; }
.tags a:active {text-decoration: none; }
.tags a:hover {text-decoration: underline; }

/* default list style */
ul {
    list-style: disc url(images/red_arrow.png) outside;
    margin-left: 1.2em;
    padding-left: 0;
}

/* default form styling */
form { background-color: #EEEEEE; padding: 1em; }
form label { display: inline; }
/* to display form fields with bad values */
form .errhint { color: red; }
#errors, .errors { border: dashed red 1px; color:red; background-color:#eeeeee; }



/* usually for responses to user actions eg "added an email alert for bob smith" */
.infomessage
{
    background-color: #ffff00;
}

.caution { padding: 1em; color: #ffffff; background-color: #2222ff; }
.caution a { color: #DDDDDD; text-decoration: underline; }
.caution a:hover { color: #EEEEEE; }


/* "now check your email! */
.loudmessage
{
    border: solid black 0.4em;
    padding: 2em;
    font-size: 120%;
}

/* for faq's */
.faq { padding: 0.5em; }
.focused { background-color: #ffffff; border: solid 0.5em #FFFF00; -moz-border-radius: 1em; -webkit-border-radius: 1em; }


.greenbox {
    font-family: georgia, serif;
    background-color: #D9DF27;
    padding: 9px;
    margin: 10px 0;
}


.art-info {
    margin-left: 2em;
    margin-bottom: 0.3em;
}

.disclaimer, .bio-source, .email-source {
    color: #888888;
    margin: 0.5em 0 0.5em 2em;
}

.publication { font-style: italic; }
.jobtitle { font-style: italic; }
.daterange { font-style: italic; }
.current-employer { font-weight: bolder; }


/* front page: "for journos, developers, press officers" */
.forlinks li
{
    display: inline;
    padding-right: 2em;
}




.art-summary {
    margin-top: 1em;
    padding: 0.5em;
}

/* list of articles, brief entry per article */
.art-list-brief {
    list-style: none;
    color: #444444;
}

#content .art-list-brief li {
    margin: 0;
    padding: 0;
}

.art-list .thumb {
    float: left;
    margin-right: 0.5em;
}

.art-list h4.entry-title { display: inline; }
.art-list .publication {
    color: #888888;
}

blockquote {
    color: #444444;
}

.art-list .published    { color: #888888; }
.art-list abbr          { border-bottom: none; } 


/* picture of journo */
div.picture { float: right; margin: 0.5em; padding: 0.1em; }
div.picture img { display:block; }


/*
 * HEADER
 */

#head {
    background-image:url('images/header_grad.gif');
    background-repeat: repeat-x;
}

#head .inner {
    position: relative;
    width: 80%; /* was 70% */
/*    height: 116px;*/  /* gradient height */
    height: 90px;
    margin: 0 auto;
}

#head h1 {
  position: absolute; /* inside head */
  top: 0;
  left: 0;
/*  width: 233px; height: 60px; */
/*  width: 310px; height: 66px; */
  width: 250px; height: 60px;
  overflow:hidden;
  margin: 8px 0 0 0;
}

#head h2 {
 color: #FFFFFF;
 text-transform: uppercase;
}

/* replace text with logo */
#head h1 a span {
/*  width: 233px; height: 60px; */
/*  width: 310px; height: 66px; */
  width: 250px; height: 60px;
  display: block;
  position: relative;
  z-index: 1;
  background-image:url('images/journalisted_logo.png');
  background-position: top left;
}

#head #tagline {
  position: absolute;   /* within head */
/*  bottom: 1em; */
  top: 55px;
  left: 50px;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  color: #FFFFFF; 
  font-size: 95%;
}

#head #mst {
  position: absolute;   /* within head */
  top: 0;
  right: 1.5em;
  padding: 8px 0;
  margin:0 0 0 0px;
  color: #FFFFFF; 
  font-size: 95%;
}
#head #mst a { color: #FFFFFF; text-decoration: none; }
#head #mst a:hover { text-decoration: underline; }

#head #today {
  position: absolute;   /* within head */
  left: 0;
  bottom: 0.5em;
  padding: 8px 0;
  margin:0 0 0 0px;
  color: #FFFFFF; 
  font-size: 95%;
}


#head #headsearch {
    position: absolute;
	top: 1.2em;
	right: 0;
    background-color: inherit;
    padding: 0;
}

#head form#headsearch {
    background-color: #f00000;
}

#head #headsearch input[type='text'] {
    border: none;
    padding: 2px;
    color: #444444;
}

#headsearch input[type='submit'] {
      width: 21px;
      height: 21px;
      padding: 0;
      margin: 0;
      border: 0;
      background: transparent url(images/arrow_red.png) no-repeat;
      color: transparent; /* hide text */
      padding: 0 0 0 21px !important; /* hide text for IE */
      overflow: hidden;
      cursor: pointer; /* hand-shaped cursor */
      }

#headsearch input[type='submit']:hover {
    background: transparent url(images/arrow_red_hover.png) no-repeat;
}


#head #menu {
  text-transform: uppercase;
  font-size: 95%;
}

#head #menu ul {
  position: absolute;   /* within head */
  bottom: 1em;
  right: 1em;
  padding: 0;
  margin: 0;
}

#head #menu ul li {
  list-style-type:none;
  display:inline;
  float:left;
  margin: 0;

}


#head #menu a { 
  color: #FFFFFF; 
  text-decoration: none;
  padding: 8px;
}

#head #menu a:hover { background-color: #AA0000; }
#head #menu .active a { background-color: #BF0000; }
#head #menu .active a:hover { background-color: #AA0000; }

/*
#head #menu a:hover {
    text-decoration: underline;
}
*/



/*
 * FOOTER
 */

#footer {
    background-image:url('images/footer_grad.gif');
    background-repeat: repeat-x;
    height: 116px;  /* gradient height */
/*    background-color: #231F20; */
}

#footer .inner
{
    width: 80%;
    margin: 0 auto;
    color: #CCCCCC;
}

/* internal links */
#footer a {
    color: #999999;
}
#footer a:link {text-decoration: none; }
#footer a:visited {text-decoration: none; color: #999999 }
#footer a:active {text-decoration: none; }
#footer a:hover {text-decoration: underline; }


/* tramlines just under the header */
#dateline {
    border-top: solid #c4c4c4 1px;
    border-bottom: solid #c4c4c4 1px;
/*    margin-top: 0.5em;
    margin-bottom: 0.5em; */
    color: #666666;
    height: 1em;

    width: 80%;
    margin: 0.5em auto;
    padding: 0.5em;
    clear: both; }

#dateline a { color: #666666; }
#dateline #today { height: 100%; float: left; }
#dateline #hellouser { color: black; height: 100%; float: left; }
#dateline #mst { float: right; /* margin-top: -6px; */ } 
#dateline img { border: none; }


/* CONTENT PART */

#content {
    width: 80%;
    margin: 0 auto 1em auto;
    clear: both; }


.maincolumn {
  float:left;
  width:64%;
}

.smallcolumn {
  margin:0 0 0 10px;
  float:right;
  width:33%;
}


.box {
    background-color: #ffffff;
    border: solid #4D4D4D 1px;
    padding: 0;
    margin-bottom: 1em;
}

.box-content { padding: 0.5em; }


.box > h1,
.box > h2,
.box > h3 {
    margin: 0;
    padding: 0.4em;
    background-color: #eeeeee;
    font-weight: normal;
}

.box.clipping {
    border-style: none;
    background: url(images/clipping.png) no-repeat bottom right;
    padding-bottom: 3em;
    font-family: Times,serif;
    margin: 1.5em;
}

.box.clipping > h1,
.box.clipping > h2,
.box.clipping > h3 {
    background:none;
}



.strong-box {
/*    border: solid #CC0000 1px; */
    border-top: 0.7em solid #CC0000;
}



/* action-box - to indicate somehting to do.
 * note ugliness to get rounded corners. grr... only needed because more
 * elegant solutions don't work on ie...
 */
.action-box {
    background-color: #4D4D4D;
    color: #FFFFFF;
    margin-bottom: 1em;
}

.action-box form {
    background-color: #4D4D4D;
}

.action-box_top div {
    background: url(images/frontformbox_tl.png) no-repeat top left;
}
.action-box_top {
    background: url(images/frontformbox_tr.png) no-repeat top right;
}
.action-box_bottom div {
    background: url(images/frontformbox_bl.png) no-repeat bottom left;
}
.action-box_bottom {
    background: url(images/frontformbox_br.png) no-repeat bottom right;
}

.action-box_top div, .action-box_top, 
.action-box_bottom div, .action-box_bottom {
   width: 100%;
   height: 8px;
   font-size: 1px;
}
.action-box_content { margin: 0 8px; }


.action-box a { color: #DDDDDD; text-decoration: underline; }
.action-box a:hover { color: #EEEEEE; }

.action-box form {
    margin: 0;
    background-color: inherit;
}

.action-box form input[type='text'], .action-box form select {
    width: 47%;
    border: none;
    padding: 2px;
    color: #444444;
}

.action-box form input[type='submit'] {
      width: 21px;
      height: 21px;
      padding: 0;
      margin: 0;
      border: 0;
      background: transparent url(images/arrow_grey.png) no-repeat;
      color: transparent; /* hide text */
      padding: 0 0 0 21px !important; /* hide text for IE */
      overflow: hidden;
      cursor: pointer; /* hand-shaped cursor */
      }

.action-box form input[type='submit']:hover {
    background: transparent url(images/arrow_grey_hover.png) no-repeat;
}



.action-box form label {
 clear: both;
 display: block;
 float:left;
/* background-color: #333333; */
 width: 45%;
}


/* donate-box
 * grr. more rounded corner awfulness.
 */



.donate-box {
    color: #ffffff;
    background-color: #D9DF27;
    margin: 10px 0;
}

.donate-box_top div {
    background: url(images/greenbox_tl.png) no-repeat top left;
}
.donate-box_top {
    background: url(images/greenbox_tr.png) no-repeat top right;
}
.donate-box_bottom div {
    background: url(images/greenbox_bl.png) no-repeat bottom left;
}
.donate-box_bottom {
    background: url(images/greenbox_br.png) no-repeat bottom right;
}

.donate-box_top div, .donate-box_top, 
.donate-box_bottom div, .donate-box_bottom {
   width: 100%;
   height: 8px;
   font-size: 1px;
}

.donate-box_content {
  margin: 0 8px;
  font-family: georgia, serif;
  font-size: 150%;
  color: black;
}

.donatebutton {
    display:block;
    color: black;
/*    text-align: center; */
}
.donate-box_content a { color: black; }
.donate-box_content a:hover {
    text-decoration: underline;
    color: #444444;
}



#forjournosform textarea {
    width: 100%;
}

#missing fieldset {
    margin: 0.4em;
}

/* missing-article form */

#missing .field {
    margin: 0.4em;
}

#missing label {
    display: inline-block;
    text-align: right;
    width: 20%;
    margin-right: 1em;
    vertical-align: top;
}

#missing input.wide {
    width: 75%;
}


#missing span.errhint {
    display: block;
    margin-left: 20%;
    margin-top: 1em;
    padding-left: 1em;
}



/* "#content" is hack to force precedence over #maincolumn/#smallcolumn .box headings */
#content .art h2,
#content .art h3,
#content .art h4 {
    margin: 0;
    padding: 0.2em 0.2em 0 0;
    border: none;
    color: #000000;
    background-color: #FFFFFF;
    font-weight: bolder;
}


