/* XXX Backgrounds and colours */
body {
  background-color:#DDDDDD;
}

#content {
  background-color:#FFFFFF;
}

#head {
  background-color:#CC0E0E;
}

.boxnarrow {
  background-color:#E3E3E3;
}

#content form label {
  color:#CC0E0E;
}

#content #contenthead {
  background-color:#F4F4F4;
}

#head h1 a span {
  background-image:url('images/title.png');
  background-position:top right;
}

#head a { 
  color: #FFFFFF; 
}

.popular {
  color:#6666FF;
}

.boxnarrow h2 {
  background-color:#7F0BAF;
}


.boxnarrow h3 {
  background-color:#7F0BAF;
}

.boxwide h2 {
  background-color:#999999;
}

.boxwide h3 {
  background-color:#999999;
}

#maincolumn .tags h2 {
  background-color:#6666FF;
}

/* XXX Positions, margin and padding */
body {
  margin:0 auto 0 auto;
  padding:0;
}

body, #menu, #head {
  width:780px;
}

#head {
  border-top:14px solid #FFFFFF;
  float:left;
  padding:0 0 10px 0;
}

#head h1 {
  margin:0;
  padding:0;
}

#head h1, #head h2 {
  float:right;
  clear:both;
  margin:0;
  padding:0;
}

#head p {
  padding:2em 1em;
  margin:0;
}

#head h1 {
  width:289px;
  overflow:hidden;
  height:73px;
  margin: 0px 0px 0 0;
}

#head h1 a span {
  margin-bottom:-0px;
  width:289px;
  height:73px;
  display:block;
  position: relative;
  z-index: 1;
}

#head h2 {
  padding:0 30px 0 0; 
}

#menu {
  float:left;
  background-color: #8E2B2B;
  height:30px;
  overflow:visible;
  border-bottom:8px solid #DDDDDD;
}

#menu ul {
  float:right;
  padding:0;
  margin:0;
}

#menu ul li, #menu .mst {
  list-style-type:none;
  display:inline;
  float:left;
  padding: 5px 10px;
  margin: 0;
}

#menu ul li a { 
  color: #FFFFFF; 
}

#menu .mst a {
  float:left;
  height:20px;
  margin:0 0 0 10px;
}

#content {
  padding:10px 5px;
  clear:both;
  width:770px;
  overflow:auto;
  border-bottom:1px solid #ECECEC;
}

#content #contenthead {
  clear:both;
  overflow:auto;
  width:100%;
  margin:0 0 10px 0;
}

#content #contenthead img {
  float:left;
}

#contenthead form, #content.home #contenthead p {
  float:right;
  width:48%;
  padding-top:6px;
}

#content.home #contenthead p {
  padding:5px 0;
  margin:0;
}

#contenthead form label {
  padding:5px 0px;
  display:block;
}

/* used for input elements on front page */
#content.home #contenthead form input.text, #content.home #contenthead form select.select {
  width: 260px;
}

#maincolumn {
  float:left;
  width:75%;
}

#smallcolumn {
  margin:0 0 0 10px;
  float:right;
  width:22%;
}


/* kludge to stop findarticles input element overrunning boxnarrow and forcing a scrollbar */
.boxnarrow form input#findarticles {
	width: 80%;
}

#footer {
  clear:both;
  background-color:#FFFFFF;
  color: #888888;
  padding: .5em;
}

#hellouser {
  float:left;
  padding-top: .1em;
  padding-bottom: .1em;
  overflow: auto;
  width:100%;
  text-align: right;
  font-size: small;
  background-color: #FFFFFF;
}

.boxwide-content table {
   text-align:left;
}

.boxwide-content td {
  padding:2px;
}
