/* BASIC STYLES */

h1,h2,h3,h4,h5,h6 {
  margin: 0; padding: 0;
  font-weight: normal;
  font-size: 100%;
  color: #1a1a1a;
}


h1 { font-size: 250%; }
h2 { font-size: 200%; }
h3 { font-size: 150%; }
h4 { font-size: 125%; }
h5 { font-size: 112%; }

body {
  margin: 0 auto;
  padding: 0;
  width: 995px;
  background-color: #ebebeb;
  font-size: 13px;
  line-height: 17px;
  font-family: Arial, Helvetica, sans-serif;
  color: #4d4d4d;
}


a { color: #cc0000; text-decoration: none; }
a:hover { text-decoration: underline; }
a:visited { color: #ee3333; }

ul {
  margin: 0px;
  padding: 0px 0px 0px 16px;
  list-style: url( "/img/bullet.png") disc outside;
}

/* lists of articles */
ul.art-list {
  padding: 0;
  list-style: none;
}

ul.art-list li {
  border-bottom: 1px solid #cccccc;
  padding: 4px 0 16px 0;
}

abbr.published { text-decoration: none; border: none; }



/* HEADER */

#header {
  position: relative;
  margin: 0;
  padding: 0;
  height: 104px;
  background: url("/img/header_bg.png") repeat-x;
}

#header h1 {
  position: absolute;
  bottom: 14px;
  left: 40px;
  width: 228px;
  height: 59px;
}

#header h1 a img {
  border: 0;
}

#header a.mst-logo {
  position: absolute;
  right: 10px;
  top: 8px;
}
#header a.mst-logo img { border: none; }

/* header nav bar */

#header .nav ul {
  position: absolute;   /* within header */
  top: 8px;
  right: 120px;
  padding: 0;
  margin: 0;
}

#header .nav ul li {
  list-style-type:none;
  display:inline;
  float:left;
  margin: 0;
}

#header .nav a { 
  color: #FFFFFF; 
/*  text-decoration: none; */
  padding: 8px;
}


/* */

#header .search {
  position: absolute;
  bottom: 12px;
  right: 8px;
}

#header .search form {
  padding: 0;
  margin: 0;
  border: none;
}

#header .search form select {
  float: left;
  padding: 0px;
  margin: 0px 4px 0px 0px;
  height: 28px;
}

#header .search form input#q {
  padding: 6px 4px 6px 32px;
  margin: 0px;
  width: 184px;  /* = 220-32-4 */
  height: 16px; /* = 28-6-6 */
  background: url("/img/searchbox.png") no-repeat;
  overflow: hidden;
  border: none;
  float: left;
}

#header .search form input#q:focus {
}

#header .search form input[type="submit"] {
  margin: 0px;
  width: 81px;
  height: 28px;
  background: url("/img/buttons.png") no-repeat;
  overflow: hidden;
  border: none;
/*  float: left;*/
}

#header .search form input[type="submit"]:hover {
  background-position: 0px -28px;
}


#header .search form input[type="submit"]:active {
  background-position: 0px -56px;
  padding-top: 1px;
}

#header .search form input[type="submit"]::-moz-focus-inner {
  border: 0;
}

/* FOOTER */

#footer {
  clear: both;
  border-top: 1px solid #c4c4c4;
  font-size: 90%;
  margin: 0 10px;
}

#footer .nav {
  float: right;
  padding: 0;
  margin: 0;
  color: #747474; 
}

#footer .nav ul {
  margin: 0;
  padding: 0;
}

#footer .nav ul li {
  list-style-type: none;
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
}

#footer .nav li:before { padding: 0 4px; content: "|";}
#footer .nav li:first-child:before {content: "";}  

#footer a { 
  color: #747474; 
  text-decoration: none;
}

#footer a:hover {
  text-decoration: underline;
}


/* CONTENT */

#content {
  position: relative;
  padding: 12px 10px; /* => width = 995-10-10 = 975 */
  margin: 0;
}


/* default style for main (leaves room for sidebar) */
.main
{
  float: left;
  width: 628px; /* 995 = 10 + 16+628+16 + 15 + 300+10 */
  background: white;
  margin: 0;
  padding: 8px 16px 16px 16px;

  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

}


.main h2,
.main h3
{
  border-bottom: 1px solid #252525;
  padding: 16px 0px 4px 0px;
}

.main h2
{
  margin-bottom: 16px;
}


/* tabs (TODO: use more semantic name... another "nav" group maybe?) */
.main .tabs ul {
  list-style: none;
  border: 0px;
  margin: 30px 0px 0px 0px;
  padding: 0px 0px 0px 8px;

}

.main .tabs ul li {
}

.main .tabs a {
  float: left;
/*  display: inline;*/
  padding: 4px 20px;
  margin-bottom: -1px;
  margin-right: 4px;

  background: #b30c0c url("/img/tab_bg.png") repeat-x;
  text-decoration: none;
  font-size: 115%;
  color: #ffffff;

  border: 1px solid #b30c0c;

  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
}

.main .tabs li.current a {
  background: #ffffff;
  border: 1px solid #888888;
  border-bottom: 1px solid #ffffff;
  color: #1a1a1a;
}

.main .tabs a:hover,
.main .tabs a:focus {
  background: #ef1313 url("/img/tab_bg_light.png") repeat-x;
  border: 1px solid #ef1313;
  border-bottom: 1px solid #888888;
  color: #ffffff;
  outline: 0;
}

.main .tab-content
{
  clear: both;
  border: 1px solid #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background: white;
  margin: 0;
  padding: 8px 16px;
}


/* sidebar */

.sidebar {
  float: right;
  width: 300px;
  margin: 0;
  padding: 0;
}

.sidebar h2 { font-size: 150%; }
.sidebar h3 { font-size: 125%; }
.sidebar h4 { font-size: 112%; }


/* default box style */
.box
{
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background: white;
  margin: 0 0 16px 0;
  padding: 0px;
}

.box .head
{
  border-top-right-radius: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;

  border-top-left-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;

  background: #ebebeb url( "/img/box_head_bg.png" ) repeat-x top;
  border-bottom: 1px solid #d9d9d9;
}
 
.box .head h2,
.box .head h3,
.box .head h4
{
  padding: 8px 16px;
  border: none;
}

.box .body
{
  padding: 8px 16px;
}


/* PAGE-SPECIFIC STUFF (everything below here is page-specific) */

/* FRONT PAGE (no sidebar): */

.main.front-page {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;

  background: none;
  margin: 0;
  padding: 0;
  width: 975px; /* 995 = 10 + 975 +10 */
}

.recently-viewed, .recently-updated, .most-blogged {
  float: left;
  width: 314px;   /* = 975 = n + 16 + n + 16 + n */
}
.recently-updated { margin: 0 16px; }

.box.front .body {
  padding: 0;
}


/* JOURNO PAGE */

.journo-profile {
  -moz-box-shadow: 0 0 5px #888888;
  -webkit-box-shadow: 0 0 5px #888888;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  background-color: #f7dbdb;
}

/* some non-default journo page boxes */
.box.you-can-also .head
{
  background: #7f2284 url( "/img/box_head_bg_purple.png" ) repeat-x top;
  border-bottom: 1px solid #630460;
}

.box.you-can-also .head h2,
.box.you-can-also .head h3,
.box.you-can-also .head h4
{ color: #ffffff; }

.box.you-can-also {
  background-color: #f1e3f1;
}

.box.you-can-also ul { padding: 0px; list-style: none; }

.box.you-can-also ul li {
  background-repeat: no-repeat;
  background-position: left center;
  padding: 7px 0px 8px 20px;
  height: 16px;
  border-top: 1px solid #cccccc;
}

.box.you-can-also ul li:first-child {
  border-top: none;
}

.box.you-can-also li.add-alert { background-image: url( "/img/icon_newspaper.png"); }
.box.you-can-also li.print-page { background-image: url( "/img/icon_printer.png"); }
.box.you-can-also li.forward-profile { background-image: url( "/img/icon_rightarrow.png"); }
.box.you-can-also li.claim-profile { background-image: url( "/img/icon_person.png"); }

.box.subscribe-newsletter {
  background-color: #e7f3e3;
}
.box.subscribe-newsletter .head
{
  background: #49a02b url( "/img/box_head_bg_green.png" ) repeat-x top;
  border-bottom: 1px solid #408e26;
}

.box.subscribe-newsletter .head h2,
.box.subscribe-newsletter .head h3,
.box.subscribe-newsletter .head h4
{ color: #ffffff; }

/* overview section on journo page */

.overview {
  padding: 0px 8px 0 8px;
}

.overview .picture {
  float: left;
  margin-right: 20px;
  -moz-box-shadow: 3px 3px 5px #888888;
  -webkit-box-shadow: 3px 3px 5px #888888;
}



.previous-articles form {
  margin: 0;
  background-color: #eeeeee;
  border: none;
}


